.chart-container{
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:640px) {
.chart-container{
  height: 80vmax;
      display: flex;
      justify-content: center;
      align-items: center;
}}