.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.div-logo {
  height: 10vmin;
  pointer-events: none;
}



.App-header {
  background-color: #231d4b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5vmin 15vmin;
}

.App-link {
  color: #61dafb;
}

@media (max-width:640px) {

  .App-header {
    padding: 4px;
  }
  .div-logo{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 8px;
  }
}